{% extends 'plantillaBase.html' %}






    {% block contenido %}





<div class="form row">

  <form action="/editar_deporte/{{ iden }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form col-md-9">
     
      <label for="">Nombres </label>
      <input type="text" class="form-control" name="nombre" value="{{ getnombre }}" required>
<!-- 
      <label for="">Descripcion</label>
      <input type="text" class="form-control" name="descripcion" value="{{ getdescripcion }}" required> -->

      <label for="">Calorias</label>     
      <input type="number" class="form-control" name="calorias" value="{{ getcalorias }}" required>

      <label for="">Categoria</label>
      <select name="categoria" class="form-control">
        <option value="ejercicio">Ejercicio</option>
        <option value="actividad">Activida física</option>
        <option value="deporte">Deporte</option>                  
      </select>

      <label for="">Duración</label> 
      <input type="number" class="form-control" name="duracion" value="{{ getduracion }}" required>

      <label for="">Imagenes</label>
      <input name="file"  type="file" id="imagen">
      <input name="url" type="hidden"  id="url">
      <button type="button" onclick="uploadimage()">up load</button>

      <input type="submit" value="Agregar Deporte">
    </div>
  </form>
</div>   


<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
    apiKey: "AIzaSyD4rA3-ZMXJkiQwJdhQeFmYMicCe1pyfPc",
    authDomain: "tipico-saludable-50fb7.firebaseapp.com",
    databaseURL: "https://tipico-saludable-50fb7.firebaseio.com",
    projectId: "tipico-saludable-50fb7",
    storageBucket: "tipico-saludable-50fb7.appspot.com",
    messagingSenderId: "159019297528"
  };
    firebase.initializeApp(config);

  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("imagen").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot){
  console.log("Imagen guardada");
  },
  function(error) {
  },
  function() {
  thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
   console.log('got url', downloadURL);
  document.getElementById("url").value = downloadURL;
  console.log(document.getElementById("url")," imagen");
  alert("Imagen guardada");
  });
});
}

</script>
{% endblock contenido %}
