<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <link rel="icon" href="../static/paquetes/dist/img/favicon.ico">
  <title>Tipico Saludable</title>
</head>
<body>
  <div class="contenido">
  <div class="p-3 mb-2 bg-warning text-dark">
  <nav class="navbar navbar-light">
  <img class="d-block img-fluid w-20" src="../static/imagenes/logofinal.png" id="logo" >
  <div class="float-xl-left">
    <a class="navbar-brand" href="{% url 'inicio' %}" id="titulo">TIPICO SALUDABLE</a>
  </div>
  <a class="page-scroll" href="#about">Acerca</a>
  <button type="button" class="btn btn-dark" onclick="location.href='{% url 'login' %}'">Ingresar</button>
  </div>
</nav>
  <hr class="my-4">
  <div class="jumbotron">
      <img src="../static/imagenes/choke.png" class="rounded float-right, align-top, align-left">

    <div class="container">
      <div>
      <h1 class="display-3">Nuestra App!</h1>
      <p>Te invitamos a que conozcas cuantas calorias consumes en nuestros platos tipicos y como contrarestar ese exceso de las mismas!!</p>
      <p>Descargala ya!!</p>
    </div> 
  </div>
</div>  
</div>
<section class="bg-light" id="about">
    <div class="container1">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="section-heading">Acerca de Tipico Saludable
          </h2>
          <hr class="">
          <p class="text"><b>Tipico Saludable</b> es un aplicacion movil que nos permite informarnos la cantidad de calorias en nuestros platos tipicos, aliado comercial
          ofrecemos una informacion estimada basada en nuestras investigaciones de cada plato y una recomendacion para mitigar el consumo excesivo
          de calorias por medio de los habitos de vida saludable, distintas aplicaciones nos ofrecen informacion nutricional.
          Los consumidores pueden acceder desde su movil con o sin conexion a internet de igual manera la app ofrece su servicio.</p>
          <img class="infor" src="../static/imagenes/logofinal.png">
        </div>
      </div>
    </div>
  </section>
  <aside class="bg-dark" style="padding: 10px 0;">
  <div class="container text-center">
    <div class="call-to-action">
      <p id="der">
      <i>©2018 Tipico Saludable. Derechos reservados.</i><br>
      <span>ADSI SENA</span></p>
    </div>
  </div>
</aside>
</body>
</html>