
<!DOCTYPE html>
<html lang="es">
<head>

	<!-- Site meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="pukie book pukiebook event wod score tracker ranking">
	<meta name="author" content="">
		
	<link rel="apple-touch-icon" sizes="180x180" href="https://pukiebook.com/favicons/apple-touch-icon.png?v=rM3rmjl8Oj">
	<link rel="icon" type="image/png" href="https://pukiebook.com/favicons/favicon-32x32.png?v=rM3rmjl8Oj" sizes="32x32">
	<link rel="icon" type="image/png" href="https://pukiebook.com/favicons/android-chrome-192x192.png?v=rM3rmjl8Oj" sizes="192x192">
	<link rel="icon" type="image/png" href="https://pukiebook.com/favicons/favicon-16x16.png?v=rM3rmjl8Oj" sizes="16x16">
	<link rel="manifest" href="https://pukiebook.com/favicons/manifest.json?v=rM3rmjl8Oj">
	<link rel="mask-icon" href="https://pukiebook.com/favicons/safari-pinned-tab.svg?v=rM3rmjl8Oj" color="#fed104">
	<link rel="shortcut icon" href="https://pukiebook.com/favicons/favicon.ico?v=rM3rmjl8Oj">
	<meta name="apple-mobile-web-app-title" content="Pukiebook">
	<meta name="application-name" content="Pukiebook">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="https://pukiebook.com/favicons/mstile-144x144.png?v=rM3rmjl8Oj">
	<meta name="msapplication-config" content="https://pukiebook.com/favicons/browserconfig.xml?v=rM3rmjl8Oj">
	<meta name="theme-color" content="#fed104">

	
		<title>Inicio - Pukiebook</title>

	<!-- CSS -->
	<link href="https://pukiebook.com/app/templates/default/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/css/creative.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/css/magnific-popup.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/fuente-palanquin/stylesheet.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/fuente-montserrat/stylesheet.min.css" rel="stylesheet" type="text/css">
<link href="https://pukiebook.com/app/templates/default/css/style.min.css" rel="stylesheet" type="text/css">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://pukiebook.com/app/templates/default/js/html5shiv.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/respond.min.js" type="text/javascript"></script>
	<![endif]-->

	
</head>
<body id="page-top">


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="https://pukiebook.com/"><img alt="Pukiebook" class="navbar-brand" src="https://pukiebook.com/app/templates/default/img/logoLetras.png"/></a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://pukiebook.com/eventos">Eventos</a>
				</li>
				<li>
					<a class="page-scroll" href="#prox">Pr&oacute;x. Eventos</a>
				</li>
				<li>
					<a class="page-scroll" href="#about">Acerca</a>
				</li>
				<li>
					<a class="page-scroll" href="#services">Servicios</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contacto</a>
				</li>
				<li>
					<a href="http://doc.pukiebook.com/" target="_blank">Documentación</a>
				</li>

					
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i> Cuenta<span class="caret"></span>
				</a>

				<ul class="dropdown-menu"><li><a href="https://pukiebook.com/acceder"><i class="fa fa-sign-in" aria-hidden="true"></i> Acceder</a></li><li><a href="https://pukiebook.com/registrar"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</a></li>
				</ul>
			</div>
		</li>			</ul>
		</div>
	</div>
</nav>

<header>
	<div class="header-img"></div>
	<div class="header-content">
		<div class="header-content-inner">
			<img alt="Pukiebook" class="logo-title" src="https://pukiebook.com/app/templates/default/img/logoLetrasGrande.png"/>
			<br/>
			<h1 class="title2-anim">Sistema de resultados online</h1>
			<h4 class="title3-anim">Elegancia, eficiencia y velocidad a la palma de la mano.</h4>
			<br/>
			<a href="#about" class="btn btn-margin btn-primary page-scroll btn-title-anim"><i class="fa fa-info-circle"></i> M&aacute;s Informaci&oacute;n</a>
			<a href="https://pukiebook.com/eventos" class="btn btn-margin btn-primary btn-title-anim"><i class="fa fa-calendar"></i> Eventos</a>
		</div>
	</div>
</header>

<section id="prox" class="bg-primary">
	<div class="container text-center">
		<div class="call-to-action">
							<h2>Pr&oacute;ximos Eventos</h2>
				<div class="eventos-list">

										<div class="evento">
						<a href="https://pukiebook.com/evento/316">
							<div class="imgContainer">
								<img alt="NBC 2018 - FINAL" src="https://pukiebook.com/imagenes/evento/316.jpg"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">NBC 2018 - FINAL</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Fitness (Puntos por tabla tipo games) (<i class="fa fa-users"></i>)</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 07/12/2018 <i class="fa fa-clock-o" aria-hidden="true"></i> 00:00 (GMT -05:00)							</span>
						</a>
					</div>
										<div class="evento">
						<a href="https://pukiebook.com/evento/328">
							<div class="imgContainer">
								<img alt="TEAMS WAR" src="https://pukiebook.com/imagenes/evento/328.png"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">TEAMS WAR</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Fitness (Puntos por tabla tipo games) (<i class="fa fa-users"></i>)</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 16/02/2019 <i class="fa fa-clock-o" aria-hidden="true"></i> 09:18 (GMT -05:00)							</span>
						</a>
					</div>
										<div class="evento">
						<a href="https://pukiebook.com/evento/revolution">
							<div class="imgContainer">
								<img alt="Revolution Games 2019" src="https://pukiebook.com/imagenes/evento/330.jpg"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">Revolution Games 2019</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Fitness puntos por posicion (<i class="fa fa-users"></i>)</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 16/02/2019 <i class="fa fa-clock-o" aria-hidden="true"></i> 00:00 (GMT -05:00)							</span>
						</a>
					</div>
										<div class="evento">
						<a href="https://pukiebook.com/evento/wchallengevzlaopen">
							<div class="imgContainer">
								<img alt="OPEN WORKOUT CHALLENGE VENEZUELA 19" src="https://pukiebook.com/imagenes/evento/334.png"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">OPEN WORKOUT CHALLENGE VENEZUELA 19</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Clasificatorio online</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 01/02/2019 <i class="fa fa-clock-o" aria-hidden="true"></i> 19:00 (GMT -04:00)							</span>
						</a>
					</div>
										<div class="evento">
						<a href="https://pukiebook.com/evento/strongchallenge">
							<div class="imgContainer">
								<img alt="STRONG CHALLENGE" src="https://pukiebook.com/imagenes/evento/337.png"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">STRONG CHALLENGE</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Fitness (Puntos por tabla tipo games) (<i class="fa fa-users"></i>)</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 15/12/2018 <i class="fa fa-clock-o" aria-hidden="true"></i> 07:00 (GMT -05:00)							</span>
						</a>
					</div>
										<div class="evento">
						<a href="https://pukiebook.com/evento/340">
							<div class="imgContainer">
								<img alt="CROMUS CHALLENGE 2018" src="https://pukiebook.com/imagenes/evento/340.jpg"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">CROMUS CHALLENGE 2018</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Fitness (Puntos por tabla tipo games)</span>
							
							<span class="small">

																
								<i class="fa fa-calendar" aria-hidden="true"></i> 08/12/2018 <i class="fa fa-clock-o" aria-hidden="true"></i> 08:00 (GMT -05:00)							</span>
						</a>
					</div>
									</div>
			
			<p><br/><br/></p>

							<h2>Eventos En Progreso</h2>
				<div class="eventos-list">

										<div class="evento">
						<a href="https://pukiebook.com/evento/monstersgame">
							<div class="imgContainer">
								<img alt="Monsters' Game 2019" src="https://pukiebook.com/imagenes/evento/333.jpg"/> 
								<span class="helper"></span>
							</div>
							
							<span class="titulo">Monsters' Game 2019</span>
							<br/>
							<span class="disciplina"><span style="padding-right: 5px;"><i class="fa fa-tag" aria-hidden="true"></i></span>Clasificatorio online (<i class="fa fa-users"></i>)</span>
							
							<span class="small">

								
								<i class="fa fa-calendar" aria-hidden="true"></i> 16/11/2018 <i class="fa fa-clock-o" aria-hidden="true"></i> 00:00 (GMT -05:00)							</span>
						</a>
					</div>
									</div>
					</div>
	</div>
</section>

<section class="bg-light" id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2 class="section-heading">Acerca de Pukiebook</h2>
				<hr class="">
				<p class="text"><b>Pukiebook</b> es un servicio automatizado de resultados Online, aliado comercial de "Box Latino Magazine", ofrecemos una soluci&oacute;n para los organizadores de eventos deportivos de distintas especialidades, facilitando el c&aacute;lculo de puntajes y posiciones de una manera sencilla y elegante. Los participantes como cualquier persona en el mundo podr&aacute;n estar al tanto del rendimiento de los atletas, ingresando desde cualquier dispositivo con acceso a Internet.</p>
				<img class="wow bounceIn" alt="BoxLatino Magazine" src="https://pukiebook.com/app/templates/default/img/logoBoxLatino.jpg" height="180" width="180">
			</div>
		</div>
	</div>
</section>

<section class="bg-primary" id="services">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="section-heading">Servicios</h2>
				<hr class="light">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-server text-light sr-icons"></i>
					<h3>Rapidez</h3>
					<p class="text-muted">Resultados en vivo</p>
				</div>
			</div>
			<div class="col-sm-3 col-sm-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-line-chart text-light sr-icons"></i>
					<h3>Estad&iacute;sticas</h3>
					<p class="text-muted">Estad&iacute;sticas de rendimiento</p>
				</div>
			</div>
			<div class="col-sm-3 col-sm-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-users text-light sr-icons"></i>
					<h3>Comunidad</h3>
					<p class="text-muted">Integraci&oacute;n de la comunidad</p>
				</div>
			</div>
			<div class="col-sm-3 col-sm-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-share-alt-square text-light sr-icons"></i>
					<h3>Comparte</h3>
					<p class="text-muted">Publica tus resultados en las redes sociales de manera sencilla</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-light" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="section-heading">Contacto</h2>
				<hr class="faded">
				<p class="text-primary">Puedes contactarnos a trav&eacute;s de los siguientes medios.</p>
			</div>
			<!--<div class="col-sm-4 text-center">
				<i class="fa fa-phone fa-3x sr-contact"></i>
				<p><a class="btn text-primary" href="tel:+573225135940">+573225135940</a></p>
				<p><a class="btn text-primary" href="tel:+584141073461">+584141073461</a></p>
			</div> -->
			<div class="col-sm-4 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p><a class="btn text-primary" href="mailto:info@pukiebook.com">info@pukiebook.com</a></p>				
			</div>
			<div class="col-sm-4 text-center text-primary">
				<i class="fa fa-instagram fa-3x text-primary sr-contact"></i>
				<p><a class="btn text-primary" href="http://i.instagram.com/pukiebook/">@pukiebook</a></p>
			</div>
			<div class="col-sm-4 text-center text-primary">
				<i class="fa fa-whatsapp fa-3x text-primary sr-contact"></i>
				<p><a class="btn text-primary" href="https://api.whatsapp.com/send?phone=584121857275&text=&source=&data=">+584121857275</a></p>
			</div>
		</div>
	</div>
</section>

<aside class="bg-dark" style="padding: 10px 0;">
	<div class="container text-center">
		<div class="call-to-action">
			<p style="margin:  0px;font-size: 12px;font-family: monospace;">&copy;2016 Pukiebook. Derechos reservados.<br/><span style="font-size: 12px;color:#FED101;">Dise&ntilde;ado por Diego Ossa</span></p>
		</div>
	</div>
</aside>			
<script src="https://pukiebook.com/app/templates/default/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/scrollreveal.min.js" type="text/javascript"></script>
<script src="https://pukiebook.com/app/templates/default/js/creative.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function() {

        $('.chkPenal').change(function(event)
        {
            var divChk = $(this).parent().parent();
            var sib = $(divChk).siblings('.chk2Div')[0];
            var inp = $(divChk).siblings('.chkHelper')[0];
            var ctr = $(sib).find('.chkPenal2')[0];

            $(ctr).prop("checked", this.checked);
            //$(this).prop("checked", !this.checked);

            if(this.checked)
            {
                $(divChk).hide();
                $(sib).show();
                $(inp).val(this.checked);
                $(sib).find('.inputReps').attr('disabled', false);

                $(this).prop("checked", !this.checked);
            }

        });

        $('.chkPenal2').change(function(event)
        {
            var divChk = $(this).parent().parent();
            var sib = $(divChk).siblings('.chkDiv')[0];
            var inp = $(divChk).siblings('.chkHelper')[0];
            var ctr = $(sib).find('.chkPenal')[0];

            $(ctr).prop("checked", this.checked);
            //$(this).prop("checked", !this.checked);

            if(!this.checked)
            {
                $(divChk).hide();
                $(divChk).find('.inputReps').val('');
                $(divChk).find('.inputReps').attr('disabled', true);
                $(inp).val(this.checked);
                $(sib).show();

                $(this).prop("checked", !this.checked);
            }

        });
    });
</script>

<script type="text/javascript">
$(function()
{
    var controlForm = $('.controls.ctrl-res form:first');
    var firstEntry = $(controlForm).find('.entry:first');

    for(var i = 0; i < 9; i++)
    {
        var newEntry = firstEntry.clone(true, true);
        firstEntry.after(newEntry);
    }
    
    controlForm.find('.entry:not(:last) .btn-add')
        .removeClass('btn-add').addClass('btn-remove')
        .removeClass('btn-success').addClass('btn-danger')
        .html('<span class="glyphicon glyphicon-minus"></span>');

	$(document).on('click', '.btn-add', function(e)
	{
		e.preventDefault();

		var controlForm = $('.controls form:first'),
			currentEntry = $(this).parents('.entry:first'),
			newEntry = currentEntry.clone(true, true);

		newEntry.find('input[type=text]').val('');
		newEntry.find('input[type=num]').val('');
		newEntry.find('textarea').val('');
		newEntry.find('input[type=checkbox]').prop("checked", false);
		newEntry.find('.chkDiv').show();
		newEntry.find('.chk2Div').hide();

		currentEntry.after(newEntry);
		
		controlForm.find('.entry:not(:last) .btn-add')
			.removeClass('btn-add').addClass('btn-remove')
			.removeClass('btn-success').addClass('btn-danger')
			.html('<span class="glyphicon glyphicon-minus"></span>');


	}).on('click', '.btn-remove', function(e)
	{
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	});	

	$(document).on('click', '.btn-add-sponsor', function(e)
	{
		e.preventDefault();

		var controlForm = $('.relContainer'),
			currentEntry = $(this).parents('.sponsor:first'),
			newEntry = currentEntry.clone();

		newEntry.find('input').val('');
		currentEntry.after(newEntry);
		
		controlForm.find('.sponsor:not(:last) .btn-add-sponsor')
			.removeClass('btn-add-sponsor').addClass('btn-remove-sponsor')
			.removeClass('btn-success').addClass('btn-danger')
			.html('<span class="glyphicon glyphicon-minus"></span>');


	}).on('click', '.btn-remove-sponsor', function(e)
	{
		$(this).parents('.sponsor:first').remove();

		e.preventDefault();
		return false;
	});

	$(document).on('click', '.btn-up', function(e)
	{
		var control = $(this).parents('.container-fluid');
		control.prev().before(control);
		e.preventDefault();
	}).on('click', '.btn-down', function(e)
	{
		var control = $(this).parents('.container-fluid');
		control.next().after(control);
		e.preventDefault();
		return false;
	});

	$(document).on("change", '#fileupload-sponsor', function(e)
	{
		var parent = $(this).parents('.img-col');
		var label = parent.find('label.status');

		if( $(this).val() < 1)
			label.addClass('hid');
		else
			label.removeClass('hid');
	});

	var parentHeight = $('header').height(),
		childHeight = $('.header-content').height();
	
	if (parentHeight <= childHeight+160) {
		$('header').height(childHeight+160);
	}

	$('div.folderImage').find('img').each(function(){
		var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
		$(this).addClass(imgClass);

		var off = 0;

		if(this.width/this.height > 1)
		{
			off = 0-((this.width/2)-60);
			$('div.folderImage').find('img').css({ "left": off+"px" });
		}
		else
		{
			off = 0-((this.height/2)-60);
			$('div.folderImage').find('img').css({ "top": off+"px" });
		}


	});
});

</script>


<script type="text/javascript">
	function tipoWod(e)
	{
		var fortime = $(e).parent().parent().find('.fortime');
		var amrap = $(e).parent().parent().find('.amrap');
		var weight = $(e).parent().parent().find('.weight');

		$(fortime).hide();
		$(amrap).hide();
		$(weight).hide();


		if(e.value == 3)
		{
			$(fortime).find('.checkbox').prop('checked', true);
			$(fortime).find('.tiempo').show();
			$(fortime).show();
		}

		if(e.value == 4)
		{
			$(amrap).find('.checkbox').prop('checked', false);
			$(amrap).find('.tiempo').show();
			$(amrap).show();
		}

		if(e.value == 9)
		{
			$(weight).find('.checkbox').prop('checked', false);
			$(weight).show();
		}
	}

	function checkChange(e)
	{
		var ch = e.checked;
		var sib = $(e).parent().siblings().find('input');
		//var sib2 = $(e).parent().parent().siblings('.penalfortime');

		if(ch)
		{
			$(sib).show();
			//$(sib2).show();
		}
		else
		{
			$(sib).hide();
			//$(sib2).hide();
		}
	}

	function tipoRegistroChange(e)
	{
		var ch = e.checked;
		var tg = $('#panelEquipo');

		if(ch)
		{
			$(tg).show();
			//$(sib2).show();
		}
		else
		{
			$(tg).hide();
			//$(sib2).hide();
		}
	}
</script>
</body>
</html>
