{% extends 'plantillaBase.html' %}


{% block titulo_tablas %}
    <h1>Lista de Comida</h1>
{% endblock titulo_tablas %}


{% block tablas %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Calorias</th>
				<th scope="col">Carbohidratos</th>
				<th scope="col">proteinas</th>
				<th scope="col">Imagen</th>
				<th scope="col"></th>
			
	
			</tr>
		</thead>
		<tbody>

		{% for lista_time,foto,nom,calor,carbo,prot,receta in paquete_list  %}
	
			<tr>
				<td>{{nom}}</td>
				<td>{{calor}}</td>
				<td>{{carbo}}</td>
				<td>{{prot}}</td>
				<td><img src="{{foto}}" width="50%" height="20%"></td>
				<!--<td><img src="{{receta}}" width="50%" height="20%"></td>-->
				<td>
					<a href="{% url 'vista_registro_comida' %}">Actualizar</a>
                  
                </td>  
             
				
				{% endfor %}

				</tr>
		</tbody>
	</table>

	<ul class="pagination justify-content-center" style="margin:20px 0">
  <li class="page-item"><li class="page-item"><a class="page-link" href="#">Anterior</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
</li>
</ul>

</body>
</html>

	<!-- <button type="button" onclick="location.href='{% url 'vista_registro_comida' %}'">Registrar comida</button> -->

 {% endblock tablas %}

