{% extends 'plantillaBase.html' %}

{% block titulo_tablas %}
    <h1>Lista de Deportes</h1>
    <style type="text/css">
        .imagen{
            width: 50px;
            height: 50px;
        }
        </style>
{% endblock titulo_tablas %}


{% block tablas %}



        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Calorias</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Duracion</th>
                  </tr>
                </thead>
                <tbody>


    {% for lis_times,nombre,cal,cat,dur,ima in comb_lis %}

                
                <tr>              
                <td>{{lis_times}}</td>
                <td>{{nombre}}</td>
                <td><div class="imagen"><img src="{{ ima }}"></div></td>
                <td>{{cal}}</td>
                <td>{{cat}}</td>
                <td>{{dur}}</td>
                <td>
                    <a href="{% url 'editar_deporte' iden=lis_times %}">Actualizar</a>
                    <a href="">Ver detalles</a>
                </td>  
             

   

    {% endfor %}
</tr>
</tbody>
</table>

<button><a href="{% url 'agregar_deporte' %}">agregar deporte</a> </button>
    <button type="button" onclick="location.href='{% url 'inicio' %}'">Inicio</button>

    {% endblock tablas %}