{% extends 'plantillaBase.html' %}

{% block titulo_tablas %}
    <h1>Deportes</h1>
{% endblock titulo_tablas %}


{% block tablas %}
<div class="table-responsive">  

        <table class="table">
                <thead>
                  <tr>
                    <!--<th scope="col">N°</th>-->
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Calorias</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Duracion</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>


    {% for lis_time,nombre,cal,cat,dur,ima in comb_lis %}

                
                <tr>              
                <!--<td>{{lis_time}}</td>-->
                <td>{{nombre}}</td>
                <td><img class="img-responsive" src="{{ima}}" width="50%" height="20%"></td>
                <td>{{cal}}</td>
                <td>{{cat}}</td>
                <td>{{dur}}</td>
                <td>
                    <a href="">Actualizar</a>
                </td>  
             

   

    {% endfor %}
</tr>
</tbody>
</table>
</div>


<!-- <button><a href="{% url 'agregar_deporte' %}">agregar deporte</a> </button> -->   

    {% endblock tablas %}