{% extends 'plantillaBase.html' %}


{% block titulo_tablas %}
    <h1>Lista de Comida</h1>
{% endblock titulo_tablas %}


{% block tablas %}
<div class="table-responsive">  

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Calorias</th>
				<th scope="col">Carbohidratos</th>
				<th scope="col">proteinas</th>
				<th scope="col">Imagen</th>
				<th scope="col"></th>
			
	
			</tr>
		</thead>
		<tbody>

		{% for lista_time,foto,nom,calor,carbo,prot,receta in paquete_list  %}
	
			<tr>
				<td>{{nom}}</td>
				<td>{{calor}}</td>
				<td>{{carbo}}</td>
				<td>{{prot}}</td>
				<td><img class="img-responsive" src="{{foto}}" width="100%" height="100%"></td>
				<!--<td><img src="{{receta}}" width="50%" height="20%"></td>-->
				<td>
					<a href="{% url 'vista_registro_comida' %}">Actualizar</a>
                  
                </td>  
             
				
				{% endfor %}

				</tr>
		</tbody>
	</table>
</div>

	<div class="center">
  <ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>

</body>
</html>

	<!-- <button type="button" onclick="location.href='{% url 'vista_registro_comida' %}'">Registrar comida</button> -->

 {% endblock tablas %}

