{% extends 'plantillaBase.html' %}


    {% block titulo_tablas %}
    <h1>Lista de Usuarios</h1>
    {% endblock titulo_tablas %}


{% block tablas %}

	<table class="table">
		<thead>
			<tr>

				<!--<th scope="col">Indices</th>-->
				<th scope="col">Nombre</th>
				<th scope="col">Rol</th>
				<th scope="col">Correo</th>
				<th scope="col">Imagen</th>
				<th scope="col"></th>

			</tr>
		</thead>
		<tbody>
		{% for list_time,nom,role,correou,fot in paquete_list  %}
	
			<tr>

				<!--<td>{{list_time}}</td>-->
				<td>{{nom}}</td>
				<td>{{role}}</td>
				<td>{{correou}}</td>
				<td><img src="{{fot}}" width="50%" height="20%"></td>
				
				<td>
					<a href="">Actualizar</a>

				</td>

			{% endfor %}
			</tr>
		</tbody>
	</table>
	<!-- <button type="button" onclick="location.href='{% url 'registrar' %}'">Registro</button> -->
	<!-- <button type="button" onclick="location.href='{% url 'inicio' %}'">Inicio</button> -->


   <ul class="pagination justify-content-center" style="margin:20px 0">
  <li class="page-item"><li class="page-item"><a class="page-link" href="#">Anterior</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Siguiente</a></li></li>
</ul>
{% endblock tablas %}
