{% extends 'plantillaBase.html' %}


    {% block titulo_tablas %}
    <h1>Lista de Usuarios</h1>
    {% endblock titulo_tablas %}


    {% block tablas %}

	<table class="table">
		<thead>
			<tr>

				<th scope="col">Indices</th>
				<th scope="col">Nombre</th>
				<th scope="col">Rol</th>
				<th scope="col">Correo</th>
				<th scope="col">Foto</th>

			</tr>
		</thead>
		<tbody>
		{% for list_time,nom,rol,correo in paquete_list  %}
	
			<tr>

				<td>{{list_time}}</td>
				<td>{{nom}}</td>
				<td>{{rol}}</td>
				<td>{{correo}}</td>
				<td><img src="{{fot}}" width="50%" height="20%"></td>
				
				<td>
					<a href="">Actualizar</a>
					<a href="">Ver detalles</a>

				</td>
			</tr>

			{% endfor %}
		</tbody>
		
	</table>
	<!-- <button type="button" onclick="location.href='{% url 'registrar' %}'">Registro</button> -->
	<!-- <button type="button" onclick="location.href='{% url 'inicio' %}'">Inicio</button> -->

    {% endblock tablas %}
