<!DOCTYPE html>
<html>
<head>
	<title>Perfiles</title>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Indices</th>
				<th scope="col">Nombre</th>
				<th scope="col">Rol</th>
				<th scope="col">Correo</th>
			</tr>
		</thead>
		<tbody>
		{% for list_time,nom,rol,correo in paquete_list  %}
	
			<tr>
				<td>{{list_time}}</td>
				<td>{{nom}}</td>
				<td>{{rol}}</td>
				<td>{{correo}}</td>
			</tr>

			{% endfor %}
		</tbody>
		
	</table>
	<button type="button" onclick="location.href='{% url 'registrar' %}'">Registro</button>
	<button type="button" onclick="location.href='{% url 'inicio' %}'">Inicio</button>
</body>
</html>