{% extends 'plantillaBase.html' %}

{% if mensaje %}
  <script>
    alert('{{ mensaje}}');
    alert('{{ db }}');
  </script>
{% endif %}

{% if mensaje %}
  <script>
    alert('{{ mensaje2}}');
    
  </script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
  <title>registro comida</title>
</head>
  

	{% block titulo %}
    <h1>Registro de Plato</h1>
    {% endblock titulo %}


{% block contenido %}

 <div class="form row">

  <form action="/registro_comida/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form col-md-9">
      <label for="">Nombre</label>
      <input type="text" class="form-control" name="nombre" required>
      
      <label for="">Calorias</label>
      <input type="text" class="form-control" name="calorias" required>

      <label for="">Carbohidratos</label>     
      <input type="number" class="form-control" name="carbohidratos" required>

      <label for="">Proteinas</label>     
      <input type="number" class="form-control" name="proteinas" required>

      <label for="">Imagen</label>
      <input name="file[]"  type="file" id="comidaimagen" required>
      <input name="url" type="hidden"  id="url">

      <label for="">Receta</label>
      <input name="file[]"  type="file" id="receta" required>
      <input name="url1" type="hidden"  id="url1">

      <button type="button" onclick="uploadimage()">guardar imagen</button>
      <input type="submit" value="Agregar comida">
    </div>
  </form>
</div>

	
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
    apiKey: "AIzaSyD4rA3-ZMXJkiQwJdhQeFmYMicCe1pyfPc",
    authDomain: "tipico-saludable-50fb7.firebaseapp.com",
    databaseURL: "https://tipico-saludable-50fb7.firebaseio.com",
    projectId: "tipico-saludable-50fb7",
    storageBucket: "tipico-saludable-50fb7.appspot.com",
    messagingSenderId: "159019297528"
  };
    firebase.initializeApp(config);

  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("comidaimagen").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot){
  console.log("Imagen guardada");
  },
  function(error) {
  },
  function() {
  thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
   console.log('got url', downloadURL);
  document.getElementById("url").value = downloadURL;
  console.log(document.getElementById("url")," imagen");
  alert("Imagen guardada");
  });
});
}

</script>
</html>

{% endblock contenido %}





