{% extends 'plantillaBase.html' %}
	
	{% if mensaje %}
		<script>
			alert('{{ mensaje}}');
			alert('{{ dato }}');
		</script>
	{% endif %}

	{% if mensaje %}
	<script>
		alert('{{ mensaje}}');
	</script>
	{% endif %}

	{% block titulo %}
    <h1>Registrar  Usuario</h1>
    {% endblock titulo %}

{% block contenido %}

	<!DOCTYPE html>
<html>
<body>
	<form action="/registrar/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form col-md-9">
		<label for="">Email</label>
      	<input type="email" class="form-control" name="email" required>

      	<label for="">Password</label>
      	<input type="password" class="form-control" name="password" required>

		<label for="">Nombre</label>
      	<input type="text" class="form-control" name="nombre" required maxlength="30" minlength="2" pattern="[A-Z-a-z]+" > 

		<label for="">Imagen</label>
        <input name="files[]"  type="file" id="file" required>
        <input name="url3" type="hidden"  id="url3">

        <label for="">Rol</label>
      	<input type="text" class="form-control" name="rol" required> 
		
		<button type="button" onclick="uploadimage()"> Guardar Imagen </button><br>
        <input type="submit"  value="Guardar Usuario">
    </div>
  </form>
</body>

<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    var config = {
    apiKey: "AIzaSyD4rA3-ZMXJkiQwJdhQeFmYMicCe1pyfPc",
    authDomain: "tipico-saludable-50fb7.firebaseapp.com",
    databaseURL: "https://tipico-saludable-50fb7.firebaseio.com",
    projectId: "tipico-saludable-50fb7",
    storageBucket: "tipico-saludable-50fb7.appspot.com",
    messagingSenderId: "159019297528"
  };
    firebase.initializeApp(config);

  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("file").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot){
  console.log("Imagen guardada");
  },
  function(error) {
  },
  function() {
  thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
   console.log('got url3', downloadURL);
  document.getElementById("url3").value = downloadURL;
  console.log(document.getElementById("url3")," foto");
  alert("Imagen guardada");
  });
});
}
</script>
</html>
{% endblock contenido %}

