{% extends 'plantillaBase.html' %}


    {% block titulo %}
    <h1>Agregar Plato</h1>
    {% endblock titulo %}


    {% block contenido %}





{% if mensaje %}
	<script>
		alert('{{ mensaje}}');
		alert('{{ db }}');
	</script>
{% endif %}

	<div class="form row">
		<form action="/registro_comida/" method="post">
			{% csrf_token %}

			<div class="form col-md-6">		
				<label for="">Nombre</label>
				<input type="text" class="form-control" name="nombre">

				<label for="">Calorias</label>
				<input type="number" class="form-control" name="calorias">	
				
				<label for="">Carbohidratos</label>
				<input type="number" class="form-control" name="carbohidratos">
				
				<label for="">Proteinas</label>
				<input type="number" class="form-control" name="proteinas">
			</div>

			<div class="form col-md-9">				
				<label for="">Foto</label>
				<input type="file" class="form-control-file" name="foto">
				
				<label for="">Receta</label>
				<input type="file" class="form-control-file" name="receta">
				<br>	

				<input type="submit" value="Agregar comida">
			</div>
		</form>
	</div>
	<!--<button type="button" onclick="location.href='{% url 'vista_lista_comida' %}'">lista Comida</button>-->

    {% endblock contenido %}

{% if mensaje %}
	<script>
		alert('{{ mensaje2}}');
		
	</script>
{% endif %}
<!DOCTYPE html>
<html>
<head>
	<title>registro comida</title>
</head>
<body>
	<form action="/registro_comida/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		nombre
		<input type="text" name="nombre">
		<br><br>
		calorias
		<input type="text" name="calorias">
		<br><br>
		carbohidratos
		<input type="text" name="carbohidratos">
		<br><br>
		proteinas
		<input type="text" name="proteinas">
		<br><br>
		Foto
		<input name="files[]" type="file" id="imagen">
		<input name="url" type="hidden"  id="url">
		<br><br>
		receta
		<input name="files[]" type="file" id="receta">
		<input name="url" type="hidden"  id="url">
		<br><br>
		<input type="submit" value="Agregar comida">
		<button type="button" onclick="uploadimage()">Cargar imagen</button>
		
		

	</form>
	<button type="button" onclick="location.href='{% url 'vista_lista_comida' %}'">lista Comida</button><br><br>
	<button type="button" onclick="location.href='{% url 'registro' %}'">registrar admin</button>


</body>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
	var config = {
    apiKey: "AIzaSyD4rA3-ZMXJkiQwJdhQeFmYMicCe1pyfPc",
    authDomain: "tipico-saludable-50fb7.firebaseapp.com",
    databaseURL: "https://tipico-saludable-50fb7.firebaseio.com",
    projectId: "tipico-saludable-50fb7",
    storageBucket: "tipico-saludable-50fb7.appspot.com",
    messagingSenderId: "159019297528"
  };
  firebase.initializeApp(config);

  // Get a reference to the storage service, which is used to create references in your storage bucket
function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("imagen").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot){
  console.log("file uplaoded succesfully");
  },
  function(error) {
  },
  function() {
  // Upload completed successfully, now we can get the download URL
  var downloadURL = thisref.snapshot.downloadURL;
  console.log("got url");
  document.getElementById("url").value = downloadURL;
  console.log(document.getElementById("url"),(" mors");
  alert("Imagen guardada");
});
    }
</script>
</html>

