{% if mensaje %}
	<script>
		alert('{{ mensaje}}');
		alert('{{ dato }}');
	</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
	<title>reg admin</title>
</head>
<body>
	<form action="/registrar/" method="post">
		{% csrf_token %}
		email:
		<input type="email" name="email">
		<br>
		password:
		<input type="password" name="password">
		<br>
		Nombre:
		<input type="text" name="nombre">
		<br>
		Foto
		<input type="file" name="file[]" id="file">
		<br>
		Rol:
		<input type="text" name="rol">
		<br>
		<input type="submit" value="Agregar Admin">	</form>
</body>
</html>